api/__pycache__/app.cpython-310.pyc
api/__pycache__/diagnose.cpython-310.pyc
api/__pycache__/util.cpython-310.pyc
api/db/__pycache__/BuildingBrainCustomFiles.cpython-310.pyc
api/db/__pycache__/BuildingBrainUserMessageResponseAudit.cpython-310.pyc
__pycache__/app_starter.cpython-310.pyc
.env
api/__pycache__/anthropic.cpython-310.pyc
api/__pycache__/AnthropicClient.cpython-310.pyc
training/__pycache__/create_pinecone_embedding.cpython-310.pyc
training/.DS_Store
.DS_Store
api/__pycache__/__init__.cpython-310.pyc
api/db/__pycache__/BuildingBrainAssets.cpython-310.pyc
